.jumbotron {
    height: 95vh;
    // background-color: greenyellow;

    h1 {
        text-align: center;
        font-size: 3.1rem;
        letter-spacing: 5%;
    }

    img#earth {
        width: 27rem;
        height: 27rem;
        display: block;
        margin: 15px auto;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        letter-spacing: 5%;
        text-shadow: 1px 4px 4px #00000090;

        a {
            color: #11E2FF;
        }
    }

    a#icon-arrow {
        display: block;
        text-align: center;
        margin: 20px auto 0;
        transition: all 0.3s ease;
        width: fit-content;

        img {
            width: 3rem;
            height: 3rem;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}